.project__section-wrapper {
  max-width: 1180px;
  margin-inline: auto;
  padding: 0 106px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 164px;
}

.project__heading {
  border-bottom: 2px solid black;
  padding-bottom: 27px;
  width: 100%;
}

.catalogue__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 14px;
  margin-top: 100px;
}

@media screen and (max-width: 970px) {
  .project__section-wrapper {
    padding: 0 20px;
  }

  .catalogue__wrapper {
    flex-wrap: wrap;
  }

  .project__one,
  .project__two {
    margin-bottom: 40px;
  }

  .catalogue__wrapper img {
    max-width: 100%;
  }
}

.catalogue__wrapper h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.catalogue__wrapper img {
  max-width: 100%;
}
