.testimonial__section-wrapper {
  max-width: 1180px;
  margin-inline: auto;
  margin-top: 164px;
  padding: 0 106px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial__heading {
  border-bottom: 2px solid black;
  padding-bottom: 27px;
  width: 100%;
}

.testimonial__heading h2 {
  font-size: 2.816rem;
  font-weight: 500;
}

.testimonials {
  margin-top: 100px;
}

.testimonials p {
  font-size: clamp(1rem, 5vw + 1vw, 1.879rem);
  font-weight: 500;
  max-width: 1000px;
  text-align: center;
  line-height: 40px;
}

@media screen and (max-width: 970px) {
  .testimonial__section-wrapper {
    padding: 0 20px;
  }
}
